In [1]:
import pandas as pd

In [9]:
# 1. 把列表转换为Series对象

In [8]:
s1 = pd.Series([1, 2, 3])

In [3]:
s1

0    1
1    2
2    3
dtype: int64

In [ ]:
# 2. 把列表转化为Series对象并添加索引

In [10]:
s2 = pd.Series([1, 2, 3], index=['A', 'B', 'C'])

In [5]:
s2

A    1
B    2
C    3
dtype: int64

In [ ]:
# 3. 把元组转换为Series对象

In [6]:
s3 = pd.Series((1, 2, 3))

In [7]:
s3

0    1
1    2
2    3
dtype: int64

In [ ]:
# 4. 把字典转换为Series对象，key=>索引，value=>值

In [11]:
s4 = pd.Series({'A':1, 'B':2, 'C':3})

In [12]:
s4

A    1
B    2
C    3
dtype: int64

In [13]:
s5 = pd.Series([i for i in range(6)], index=[i for i in 'ABCDEF'])

In [14]:
s5

A    0
B    1
C    2
D    3
E    4
F    5
dtype: int64

In [15]:
# 5、常见API => 不需要记，但是需要自己总结一个文档，用到的时候，可以快速查询

In [16]:
s5.size

6

In [17]:
s5.shape  # 以元组方式返回

(6,)

In [18]:
s5.dtypes  # 获取value列数据类型

dtype('int64')

In [19]:
s5.to_list()  # 把value转化为列表容器

[0, 1, 2, 3, 4, 5]

In [20]:
s5.values  # 获取所有值

array([0, 1, 2, 3, 4, 5], dtype=int64)

In [21]:
s5.values.tolist()  # 把value值转换为列表

[0, 1, 2, 3, 4, 5]

In [22]:
s5['A']  # 通过索引获取第一个元素

0

In [23]:
for i in s5:
    print(i)

0
1
2
3
4
5

In [24]:
s5.head(3)

A    0
B    1
C    2
dtype: int64

In [25]:
s5.tail(3)

D    3
E    4
F    5
dtype: int64

In [26]:
s5.index

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [27]:
s5.index.to_list()

['A', 'B', 'C', 'D', 'E', 'F']

In [28]:
s5.describe()  # 获取s对象的详细信息

count    6.000000
mean     2.500000
std      1.870829
min      0.000000
25%      1.250000
50%      2.500000
75%      3.750000
max      5.000000
dtype: float64

In [29]:
s5.to_frame()  # 把s对象转换为df对象

   0
A  0
B  1
C  2
D  3
E  4
F  5

In [30]:
s5.reset_index()  # 把索引重置 => 0 1 2

  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  4
5     F  5

In [31]:
s6 = pd.Series([i for i in range(6)], index=[i for i in 'ABCDEF'])

In [32]:
s6

A    0
B    1
C    2
D    3
E    4
F    5
dtype: int64

In [33]:
s6 * 2

A     0
B     2
C     4
D     6
E     8
F    10
dtype: int64

In [34]:
s7 = pd.Series([10]*6, index=[i for i in 'ABCDEF'])

In [35]:
s7

A    10
B    10
C    10
D    10
E    10
F    10
dtype: int64

In [36]:
s6 + s7

A    10
B    11
C    12
D    13
E    14
F    15
dtype: int64

In [37]:
s8 = pd.Series([10]*6, index=[i for i in 'ABCDEG'])

In [39]:
s6

A    0
B    1
C    2
D    3
E    4
F    5
dtype: int64

In [40]:
s8

A    10
B    10
C    10
D    10
E    10
G    10
dtype: int64

In [41]:
s6 + s8

A    10.0
B    11.0
C    12.0
D    13.0
E    14.0
F     NaN
G     NaN
dtype: float64