In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('./1960-2019全球GDP数据.csv', encoding='gbk')

In [7]:
df.head()

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950

In [9]:
df1_data = {
    '日期':['2023-01-01', '2023-01-02', '2023-01-03'],
    '温度':[29, 31, 28],
    '湿度':[80, 69, 72]
}

df1 = pd.DataFrame(data=df1_data)

In [10]:
# 自带索引，索引默认从0开始依次递增
df1

           日期  温度  湿度
0  2023-01-01  29  80
1  2023-01-02  31  69
2  2023-01-03  28  72

In [17]:
df2_data = [
    ('2023-01-01', 29, 80),
    ('2023-01-02', 31, 69),
    ('2023-01-03', 28, 72),
    ('2023-01-04', 29, 73)
]

df2 = pd.DataFrame(data=df2_data, columns=['日期', '温度', '湿度'], index=['row_1', 'row_2', 'row_3', 'row_4'])

In [18]:
df2

               日期  温度  湿度
row_1  2023-01-01  29  80
row_2  2023-01-02  31  69
row_3  2023-01-03  28  72
row_4  2023-01-04  29  73

In [19]:
# 1. 获取df结构中的总行数
len(df2)

4

In [20]:
# 2. 获取df结构中的元素个数 => 行（4） *  列（3） = 12
df2.size

12

In [21]:
# 3、获取df中行列数量 => (行数, 列数)
df2.shape

(4, 3)

In [22]:
# 4、获取对应的数据类型
df2.dtypes

日期    object
温度     int64
湿度     int64
dtype: object

In [23]:
# 5、获取所有的values值
df2.values

array([['2023-01-01', 29, 80],
       ['2023-01-02', 31, 69],
       ['2023-01-03', 28, 72],
       ['2023-01-04', 29, 73]], dtype=object)

In [24]:
# 6、获取所有列名（字段）信息
df2.columns

Index(['日期', '温度', '湿度'], dtype='object')

In [25]:
for col_name in df2:
    print(col_name)

日期
温度
湿度

In [26]:
# 7、获取df中前3行
df2.head(3)

               日期  温度  湿度
row_1  2023-01-01  29  80
row_2  2023-01-02  31  69
row_3  2023-01-03  28  72

In [27]:
# 8、获取df中后3行
df2.tail(3)

               日期  温度  湿度
row_2  2023-01-02  31  69
row_3  2023-01-03  28  72
row_4  2023-01-04  29  73

In [28]:
# 9、获取df对象相关信息，这个方法是df对象所特有的，s对象没有info方法
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, row_1 to row_4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      4 non-null      object
 1   温度      4 non-null      int64
 2   湿度      4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 288.0+ bytes

In [29]:
# 10、显示df对象的详细信息
df2.describe()

              温度         湿度
count   4.000000   4.000000
mean   29.250000  73.500000
std     1.258306   4.654747
min    28.000000  69.000000
25%    28.750000  71.250000
50%    29.000000  72.500000
75%    29.500000  74.750000
max    31.000000  80.000000

In [43]:
# 11、显示df对象的详细信息，包含所有列
df2.describe(include='all')

                日期         温度         湿度
count            4   4.000000   4.000000
unique           4        NaN        NaN
top     2023-01-04        NaN        NaN
freq             1        NaN        NaN
mean           NaN  29.250000  73.500000
std            NaN   1.258306   4.654747
min            NaN  28.000000  69.000000
25%            NaN  28.750000  71.250000
50%            NaN  29.000000  72.500000
75%            NaN  29.500000  74.750000
max            NaN  31.000000  80.000000

In [45]:
# 12、DataFrame行列转置
df2.T

         row_1       row_2       row_3       row_4
日期  2023-01-01  2023-01-02  2023-01-03  2023-01-04
温度          29          31          28          29
湿度          80          69          72          73

In [32]:
# Pandas中df对象的运算操作

In [35]:
# 1. df对象中如果存在非数值类型，则不能进行加减运算 => df2 + 1

In [36]:
# 2. df对象中如果存在非数值类型，可以进行乘除运算等操作
df2 * 2

                         日期  温度   湿度
row_1  2023-01-012023-01-01  58  160
row_2  2023-01-022023-01-02  62  138
row_3  2023-01-032023-01-03  56  144
row_4  2023-01-042023-01-04  58  146

In [37]:
df1

           日期  温度  湿度
0  2023-01-01  29  80
1  2023-01-02  31  69
2  2023-01-03  28  72

In [38]:
df2

               日期  温度  湿度
row_1  2023-01-01  29  80
row_2  2023-01-02  31  69
row_3  2023-01-03  28  72
row_4  2023-01-04  29  73

In [39]:
df1 + df2

        日期  温度  湿度
0      NaN NaN NaN
1      NaN NaN NaN
2      NaN NaN NaN
row_1  NaN NaN NaN
row_2  NaN NaN NaN
row_3  NaN NaN NaN
row_4  NaN NaN NaN

In [40]:
df3 = df2[df2.index!='row_3']
df3

               日期  温度  湿度
row_1  2023-01-01  29  80
row_2  2023-01-02  31  69
row_4  2023-01-04  29  73

In [41]:
df2

               日期  温度  湿度
row_1  2023-01-01  29  80
row_2  2023-01-02  31  69
row_3  2023-01-03  28  72
row_4  2023-01-04  29  73

In [42]:
df2 + df3

                         日期    温度     湿度
row_1  2023-01-012023-01-01  58.0  160.0
row_2  2023-01-022023-01-02  62.0  138.0
row_3                   NaN   NaN    NaN
row_4  2023-01-042023-01-04  58.0  146.0