In [1]:
# 1、导入pandas模块
import pandas as pd

In [2]:
# 2、获取s对象
s = pd.Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
# 3、获取df对象
df = pd.DataFrame({
    'name':['Tom', 'Rose', 'Jack'],
    'age':[23, 24, 25],
    'mobile':['10086', '10000', '10010']
})
df

   name  age mobile
0   Tom   23  10086
1  Rose   24  10000
2  Jack   25  10010

In [4]:
s.dtypes

dtype('int64')

In [5]:
df.dtypes

name      object
age        int64
mobile    object
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   mobile  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [13]:
pd.__version__

'1.1.3'