In [1]:
import pandas as pd

In [18]:
df1 = pd.DataFrame(
    [
        ['1960-5-7', '刘海柱', '职业法师'],
        ['1978-9-1', '赵金龙', '大力哥'],
        ['1984-12-27', '周立齐', '窃格瓦拉'],
        ['1969-1-24', '于谦', '相声皇后']
    ], 
    columns=['birthday', 'name', 'AKA']
)

In [3]:
df1

     birthday name   AKA
0    1960-5-7  刘海柱  职业法师
1    1978-9-1  赵金龙   大力哥
2  1984-12-27  周立齐  窃格瓦拉
3   1969-1-24   于谦  相声皇后

In [4]:
df1.to_csv('./to_csv案例.csv')

In [5]:
pd.__version__

'1.1.3'

In [9]:
# df2 = pd.read_csv('./to_csv案例.csv', encoding='utf-8', parse_dates=[1])
df2 = pd.read_csv('./to_csv案例.csv', encoding='utf-8', parse_dates=['birthday'])
df2

   Unnamed: 0   birthday name   AKA
0           0 1960-05-07  刘海柱  职业法师
1           1 1978-09-01  赵金龙   大力哥
2           2 1984-12-27  周立齐  窃格瓦拉
3           3 1969-01-24   于谦  相声皇后

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4 non-null      int64
 1   birthday    4 non-null      datetime64[ns]
 2   name        4 non-null      object
 3   AKA         4 non-null      object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 256.0+ bytes

In [11]:
# 读取文件指定索引类并实现自动类型转换
df3 = pd.read_csv('./to_csv案例.csv', encoding='utf-8', index_col=[1], parse_dates=True)
df3

            Unnamed: 0 name   AKA
birthday
1960-05-07           0  刘海柱  职业法师
1978-09-01           1  赵金龙   大力哥
1984-12-27           2  周立齐  窃格瓦拉
1969-01-24           3   于谦  相声皇后

In [12]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4 entries, 1960-05-07 to 1969-01-24
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4 non-null      int64
 1   name        4 non-null      object
 2   AKA         4 non-null      object
dtypes: int64(1), object(2)
memory usage: 288.0+ bytes

In [15]:
df4 = pd.read_csv('./to_csv案例.csv', encoding='utf-8', sep=',', index_col=[0])

In [16]:
df4

     birthday name   AKA
0    1960-5-7  刘海柱  职业法师
1    1978-9-1  赵金龙   大力哥
2  1984-12-27  周立齐  窃格瓦拉
3   1969-1-24   于谦  相声皇后

In [20]:
df4.to_csv('./to_csv编码案例.csv', encoding='utf-8-sig', index=False)