In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./uniqlo.csv')
df

,store_id,city,channel,gender_group,age_group,wkd_ind,product,customer,revenue,order,quant,unit_cost
0,658,深圳,线下,Female,25-29,Weekday,当季新品,4,796.0,4,4,59
1,146,杭州,线下,Female,25-29,Weekday,运动,1,149.0,1,1,49
2,70,深圳,线下,Male,>=60,Weekday,T恤,2,178.0,2,2,49
3,658,深圳,线下,Female,25-29,Weekday,T恤,1,59.0,1,1,49
4,229,深圳,线下,Male,20-24,Weekend,袜子,2,65.0,2,3,9
...,...,...,...,...,...,...,...,...,...,...,...,...
22288,146,杭州,线下,Female,30-34,Weekday,短裤,1,80.0,1,2,19
22289,430,成都,线下,Female,25-29,Weekend,T恤,1,79.0,1,1,49
22290,449,武汉,线下,Female,35-39,Weekday,T恤,1,158.0,1,2,49
22291,758,杭州,线下,Female,20-24,Weekday,袜子,1,26.0,1,1,9
22292,616,成都,线下,Male,30-34,Weekday,当季新品,1,79.0,1,1,59

In [3]:
# 1. 分组操作实现

In [4]:
df.groupby(['city'])

In [5]:
df.groupby(['city', 'channel'])

In [6]:
gs2 = df.groupby(['city'])

In [7]:
gs2.first()

,store_id,channel,gender_group,age_group,wkd_ind,product,customer,revenue,order,quant,unit_cost
city,,,,,,,,,,,
上海,135,线下,Female,30-34,Weekend,当季新品,1,49.0,1,1,59
北京,21,线下,Female,45-49,Weekend,毛衣,1,199.0,1,1,99
南京,19,线下,Female,35-39,Weekend,T恤,4,176.0,4,4,49
广州,420,线上,Male,>=60,Weekday,T恤,1,39.0,1,1,49
成都,430,线下,Male,35-39,Weekend,裙子,1,79.0,1,1,59
杭州,146,线下,Female,25-29,Weekday,运动,1,149.0,1,1,49
武汉,28,线上,Female,35-39,Weekend,T恤,1,97.0,1,1,49
深圳,658,线下,Female,25-29,Weekday,当季新品,4,796.0,4,4,59
西安,648,线下,Male,20-24,Weekend,T恤,1,59.0,1,1,49
重庆,208,线下,Male,20-24,Weekend,配件,1,149.0,1,1,29

In [8]:
gs2.last()

,store_id,channel,gender_group,age_group,wkd_ind,product,customer,revenue,order,quant,unit_cost
city,,,,,,,,,,,
上海,335,线下,Female,35-39,Weekend,运动,3,447.0,3,3,49
北京,21,线下,Female,35-39,Weekend,T恤,1,59.0,1,1,49
南京,19,线下,Female,45-49,Weekend,短裤,1,39.0,1,1,19
广州,182,线上,Female,25-29,Weekday,当季新品,3,297.0,3,3,59
成都,616,线下,Male,30-34,Weekday,当季新品,1,79.0,1,1,59
杭州,758,线下,Female,20-24,Weekday,袜子,1,26.0,1,1,9
武汉,449,线下,Female,35-39,Weekday,T恤,1,158.0,1,2,49
深圳,738,线下,Female,45-49,Weekday,配件,1,158.0,1,2,29
西安,429,线下,Male,25-29,Weekday,T恤,1,99.0,1,1,49
重庆,208,线下,Female,45-49,Weekend,T恤,1,79.0,1,1,49

In [10]:
gs2.get_group(('深圳'))

,store_id,channel,gender_group,age_group,wkd_ind,product,customer,revenue,order,quant,unit_cost
0,658,线下,Female,25-29,Weekday,当季新品,4,796.0,4,4,59
2,70,线下,Male,>=60,Weekday,T恤,2,178.0,2,2,49
3,658,线下,Female,25-29,Weekday,T恤,1,59.0,1,1,49
4,229,线下,Male,20-24,Weekend,袜子,2,65.0,2,3,9
13,611,线下,Male,30-34,Weekend,T恤,1,79.0,1,1,49
...,...,...,...,...,...,...,...,...,...,...,...
22272,738,线下,Male,35-39,Weekend,T恤,1,79.0,1,1,49
22277,611,线下,Male,20-24,Weekday,T恤,1,79.0,1,1,49
22278,70,线下,Male,>=60,Weekend,短裤,1,40.0,1,1,19
22281,280,线下,Female,30-34,Weekend,短裤,1,39.0,1,1,19
22283,738,线下,Female,45-49,Weekday,配件,1,158.0,1,2,29

In [11]:
df.groupby(['city', 'channel']).agg({
    'revenue':'mean',
    'unit_cost':'sum'
})

                 revenue  unit_cost
city channel
上海   线上       187.603426      27980
     线下       154.623043      82359
北京   线下       226.098128      26163
南京   线下       246.301860      23140
广州   线上       153.470817      59631
     线下       133.368817      41091
成都   线下       136.160798      72041
杭州   线下       155.751252     173445
武汉   线上       180.977961      69225
     线下       153.258971      93858
深圳   线下       167.993511     201526
西安   线上       128.581239      10246
     线下       131.791838      64469
重庆   线上       144.672253       8028
     线下       147.764673      75055

In [14]:
df.groupby(['city']).filter(lambda s:s['revenue'].mean() > 200).city.unique()

array(['北京', '南京'], dtype=object)